.App {
  max-width: 600px;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-around;
  background: linear-gradient(to bottom,  #1B1818 50%, #3C3C3C, #3C3C3C 50%);
}

nav button, nav a button, section button {
    color: #E3F512;
    text-align: center;
    font-family: 'Righteous', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: linear-gradient(to bottom, #3C3C3C, #3C3C3C 30%, #1B1818 70%);
    height: 2em;
    width: 8em;
}

nav > button {
  flex-grow: 1;
  transform: translateY(4px)
}

.main-border {
  border: 3px solid darkgrey;
  padding: 1em;
  margin: 0.5em;
  display: inline-block;
}

.main-section {
  background-color: #3C3C3C;
  color: white;
  min-height: 50vh;
  display: flex;
}

.inspect-hamsters {
  flex-direction: column;
  flex-wrap: wrap;
}

header, header > article, footer {
  display: flex;
}

@font-face {
  font-family: 'Righteous';
  src: url('Righteous-Regular.ttf')
}

/* section.top, section.mid {
  display: flex;
  flex-direction: row;
  justify-content: center;
} */

.hamster-container {
  display: inline-block;
}

footer {
  justify-content: space-around;
  background-color: #1B1818;
  color: #E3F512;
  height: 25vh;
}

@media (min-width: 1024px) {

} 