.App {
  max-width: 600px;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-around;
  background: linear-gradient(to bottom,  #1B1818 50%, #3C3C3C, #3C3C3C 50%);
}

h1, h2, h3, h4, h5, button {
  font-family: 'Righteous', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
  font-family: "Berlin Sans FB";
}

h2.block {
  width: 90vw;
  height: 5vw;
  text-align: center;
}

nav button, nav a button, section button {
    color: #E3F512;
    text-align: center;
    background: linear-gradient(to bottom, #3C3C3C, #3C3C3C 30%, #1B1818 70%);
    height: 2em;
    width: 8em;
}

nav > button {
  flex-grow: 1;
  transform: translateY(4px)
}

button:hover {
  cursor: pointer;
}

button.disabled {
  pointer-events: none;
  opacity: 0.6;
}

@font-face {
  font-family: 'Revalia';
  src: url('Revalia-Regular.ttf') 
}

li {
  font-family: 'Revalia', 'Courier New';
  color: white;
}

.main-section {
  background-color: #3C3C3C;
  color: black;
  padding-top: 0.001em;
  min-height: 50vh;
}

.inspect-hamsters {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

header, header > article, footer {
  display: flex;
}

@font-face {
  font-family: 'Righteous';
  src: url('Righteous-Regular.ttf')
}

.hamster-container {
  display: inline-block;
}

footer {
  justify-content: space-around;
  align-items: center;
  background-color: #1B1818;
  height: 20vh;
}

footer p {
  color: white;
  font-size: 0.8em;
}